# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

# Clangd index/cache
*/.cache/
propagation_kernel_v1/.cache

# HLS/Vivado build artifacts
propagation_kernel_v1/bpm_prop_accel/
propagation_kernel_v1/xcd.log

# All Clangd index files anywhere
*.idx

.idea
